
.vscode/launch.json
.vscode/tasks.json
Projet progsys/obj/Debug/netcoreapp3.1/Projet progsys.assets.cache
Projet progsys/obj/Debug/netcoreapp3.1/Projet progsys.assets.cache
Projet progsys/obj/Debug/netcoreapp3.1/Projet progsys.GeneratedMSBuildEditorConfig.editorconfig
